body{
    background-color: lightgoldenrodyellow;
}
.two {
    color: black;
}

.two:hover {
    transition: all .3s;
}

.two:hover {
    background-color: yellow;
}
.top {
    padding-right: 20px;
    margin-bottom: 10px;
}
.flex_menu {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    font: 20px Verdana;
    justify-content: flex-end;
}
.warning{
    color: red;
    font: bold calc(25px) Verdana;
    margin-left: 350px;
}
.warning1{
    color: black;
    font: bold calc(25px) Verdana;
    margin-left: 650px;
}
.logo{
    margin-left: 230px;
    height: 50px;
}
.info{
    color: red;
    font: bold calc(40px) Verdana;
    width: 500px;
    text-align: center;
    margin-left: 550px;
}
.log{
    font: bold calc(30px) Verdana;
    border: 5px solid slategray;
    width: 500px;
    height: 50px;
    text-align: center;
    border-radius: 15px;
}
.pass{
    font: bold calc(30px) Verdana;
    border: 5px solid slategray;
    width: 480px;
    height: 50px;
    text-align: center;
    border-radius: 15px;
}
.submit{
    font: bold calc(30px) Verdana;
    border: 5px solid slategray;
    width: 500px;
    height: 50px;
    margin-left: 550px;
    border-radius: 15px;
}
.congr{
    font: bold calc(30px) Verdana;
    color: green;
}
.comment{
   height: 150px;
    width: 450px;
    border: 2px solid slategray ;
    border-radius: 15px;
}
.send{
    margin: 0 350px;
}
.return_auth{
    margin: 240px 1200px;
    font: bold calc(15px) Verdana;
}
.return{
    font: bold calc(15px) Verdana;
}
.return_reg{
    margin: 240px 1000px;
    font: bold calc(15px) Verdana;
}
.exercises{
    border: 3px solid slategray;
    margin: 10px;
}
.flex_menu1 {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    font: 20px Verdana;
    justify-content: space-between;
}
.flex_menu3 {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    font: 30px Verdana;
    justify-content: space-between;
}