body {
    background-image: url("../images/Chemical.jpg");
    background-size: cover;
}
.caption{
    font: bold calc(40px) Verdana, cursive;
    color: yellow;
}
.my_table, tr, td{
    border: 3px solid black;
    border-collapse: collapse;
}
.my_table{
    /*margin-top: 250px;*/
}
td{
    background-color: deepskyblue;
    width: 300px;
}
.element1{
    font: bold calc(120px) Verdana;
    position: relative;
    bottom: 25px;
    left: 170px;
}
.number1{
    font: bold calc(40px) Verdana;
    position: relative;
    bottom: 85px;
    right: 120px;
}
.name1{
    font: bold calc(25px) Verdana;
    position: relative;
    left: 30px;
    top: 50px;
}
.weight1{
    font: calc(25px) Verdana;
    position: relative;
    bottom: 80px;
    left: 0;
}
.element2{
    font: bold calc(120px) Verdana;
    position: relative;
    bottom: 25px;
    left: 190px;
}
.number2{
    font: bold calc(40px) Verdana;
    position: relative;
    bottom: 85px;
    right: 90px;
}
.name2{
    font: bold calc(25px) Verdana;
    position: relative;
    left: 20px;
    top: 50px;
}
.weight2{
    font: calc(25px) Verdana;
    position: relative; 
    bottom: 80px;
}
.element3{
    font: bold calc(120px) Verdana;
    position: relative;
    bottom: 25px;
    left: 150px;
}
.number3{
    font: bold calc(40px) Verdana;
    position: relative;
    bottom: 85px;
    right: 150px;
}
.name3{
    font: bold calc(25px) Verdana;
    position: relative;
    left: 10px;
    top: 50px;
}
.weight3{
    font: calc(25px) Verdana;
    position: relative;
    bottom: 80px;
}
.element4{
    font: bold calc(120px) Verdana;
    position: relative;
    bottom: 25px;
    left: 100px;
}
.number4{
    font: bold calc(40px) Verdana;
    position: relative;
    bottom: 85px;
    right: 200px;
}
.name4{
    font: bold calc(25px) Verdana;
    position: relative;
    left: 150px;
}
.weight4{
    font: calc(25px) Verdana;
    position: relative;
    bottom: 80px;
    right: 145px;
}
.element5{
    font: bold calc(120px) Verdana;
    position: relative;
    bottom: 25px;
}
.number5{
    font: bold calc(40px) Verdana;
    position: relative;
    bottom: 85px;
    left: 55px;
}
.name5{
    font: bold calc(25px) Verdana;
    position: relative;
}
.weight5{
    font: calc(25px) Verdana;
    position: relative;
    bottom: 80px;
    left: 75px;
}
.element6{
    font: bold calc(120px) Verdana;
    position: relative;
    bottom: 25px;
}
.number6{
    font: bold calc(40px) Verdana;
    position: relative;
    bottom: 85px;
    left: 55px;
}
.name6{
    font: bold calc(25px) Verdana;
    position: relative;
}
.weight6{
    font: calc(25px) Verdana;
    position: relative;
    bottom: 80px;
    left: 70px;
}
.element7{
    font: bold calc(120px) Verdana;
    position: relative;
    bottom: 25px;
}
.number7{
    font: bold calc(40px) Verdana;
    position: relative;
    bottom: 85px;
    left: 65px;
}
.name7{
    font: bold calc(25px) Verdana;
    position: relative;
}
.weight7{
    font: calc(25px) Verdana;
    position: relative;
    bottom: 80px;
    left: 130px;
}
.element8{
    font: bold calc(120px) Verdana;
    position: relative;
    bottom: 25px;
}
.number8{
    font: bold calc(40px) Verdana;
    position: relative;
    bottom: 85px;
    left: 85px;
}
.name8{
    font: bold calc(25px) Verdana;
    position: relative;
    top: 50px;
}
.weight8{
    font: calc(25px) Verdana;
    position: relative;
    bottom: 80px;
    left: 210px;
}

